@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

.sub {
    display: none;
    border: 1px solid red;
    position: absolute;
    left: 0;
    max-width: 300px;
    top: 100%;
    background-color: #fff;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover .sub {
    display: block;
}

.menu li:hover {
    border-color: red;

}

.sub li {
    display: block;
    padding: 8px;
}

.conteudo{
    display: grid;
    grid-template-columns: 90% 30%;
}

.noticia img {
    max-width: 100%;
}

.destaque {
    margin-bottom: 56px;
}

.destaque .noticia a {
    display: flex;
    font-size: 2em;
}

.destaque .noticia img{
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

aside {
    padding-left: 40px;
}

aside .noticia {
    margin-bottom: 24px;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container{
        max-width: 90%;
    }

    .destaque .noticia a {
        display: block;
        font-size: 13px;
    }
    
    .destaque .noticia img{
        margin-right: 0;
    }

    .noticias {
        display: block;
    }

    .noticias .noticia{
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }

    header div.container {
        flex-direction: column;
    }

    .sub {
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }
    
    .menu{
        display: none;
    }

    .menu > li {
        clear: both;
    }
    
    .sub li {
        display: block;
        padding: 8px;
    }

    .butao{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .butao button{
        padding: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .butao{
        display: none;
    }

    .destaque .noticia{
        font-size: 12px;
    }

    .noticias{
        grid-template-columns: repeat(2, 49%);
    }
    
}

@media screen and (min-width: 1024px){
    .butao{
        display: none;
    }
    
}